@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var.woff2) format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/ibm-plex-sans-var-italic.woff2) format('woff2');
}

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

.skip-nav {
  @apply absolute px-4 py-3 transition-transform duration-200 transform -translate-y-12 -left-1/4 focus:top-4 focus:translate-y-3 -top-8;
}

#skip {
  scroll-margin-top: 1.125rem;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[data-fade] {
  @apply translate-y-10 opacity-0 transition duration-[400ms] ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
}
.fade-in-start [data-fade] {
  @apply translate-y-0 opacity-100;
}
.fade-in-start [data-fade='1'] {
  transition-delay: 100ms;
}
.fade-in-start [data-fade='2'] {
  transition-delay: 200ms;
}
.fade-in-start [data-fade='3'] {
  transition-delay: 300ms;
}
.fade-in-start [data-fade='4'] {
  transition-delay: 400ms;
}
.fade-in-start [data-fade='5'] {
  transition-delay: 500ms;
}
.fade-in-start [data-fade='6'] {
  transition-delay: 600ms;
}
.fade-in-start [data-fade='7'] {
  transition-delay: 700ms;
}
.fade-in-start [data-fade='8'] {
  transition-delay: 800ms;
}

.glow {
  position: relative;
  color: black !important;
  border-radius: 3px;
}

.glow:before {
  position: absolute;
  content: '';
  top: calc(-1 * 3px);
  left: calc(-1 * 3px);
  z-index: -1;
  width: calc(100% + 3px * 2);
  height: calc(100% + 3px * 2);
  background: linear-gradient(
    45deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * 3px);
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
